*{
margin: 0;
padding: 0;
}
:root{
    --color-principal: #E5E5E5
}

body{
    background-color: var(--color-principal);
}
main{
    display: flex;
}

.seccion__principal{
    display: flex;
    flex-direction: column;
}

.logo{
    width: 7.5rem;
    padding: 7% 5%;

}
.seccion__principal__captura{
    width: 48.5rem;
    height: 30rem;
    display: flex;
    padding: 10%;
}

.seccion__principal__captura__capturador{

}

.advertencia{
    display: flex;
}

.exclamacion{
    width: 1rem;
}
